.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.ai-toggle {
    background-color: 80e08b;
}

.edit-buttons {
    padding-top: 10rem;
}

.subtitle {
    padding-top: 0;
}

.toolbar-shrink {
    height: 30%;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
  .close-btn {
    font-size: small;
    color: grey;
}